{% extends 'base.html.twig' %}

{% block title %} Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3"> #BOUGER #KIFFER #PARTAGER </h1>
    <p class="lead">Le club qui partage le plaisir d'un sport convivial</p>
    <hr class="my-4">
    <p>Le fitness c'est essentiel, le fitness c'est Basic-Fit. Avec un club Basic-Fit près de chez vous et de nombreuses options d'entraînement à domicile, vous pouvez vous entraîner n'importe quand, n'importe où, comme vous le souhaitez. Go For It !.</p>
    <p class="lead">
        <a class="btn btn-info disabled" href="#" role="button">DECOUVREZ MAGIC FORM </a>
    </p>
</div>

{% endblock %}
